.container-fluid {
  margin: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* .new-amsterdam-regular {
} */

body,
html {
  font-family: "Archivo Black", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.font-official {
  font-family: "Archivo Black", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
.ant-typography,
.ant-btn,
.ant-input,
.ant-menu,
.ant-select,
.ant-table,
.ant-card,
.ant-descriptions {
  font-family: "Archivo Black", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
