.image-gallery-image {
  width: 100% !important;
  height: 450px !important;
}
.image-gallery-thumbnail {
  width: 150px !important;
  height: 150px !important;
}
.image-gallery-thumbnail img {
  width: 200px;
  height: 100px;
}
.detail-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-content-text-div {
}
.detail-content {
  margin-top: 5%;
}
