.table-cars {
  width: 100% !important;
}

.label-form-description input {
  height: 100px;
}

.ant-form-item-required {
  width: 200px !important;
}

.checkbox {
  margin-left: 35%;
}
.label-form-image {
  margin-left: 31%;
}
.ant-upload-list-item-error {
  border-color: rgba(160, 146, 251, 0.829) !important;
}

/* .ant-upload-list-item-error:hover {
  display: none !important;
} */

.ant-tooltip {
  display: none !important;
}

.action-button {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
